.add {
  margin: 2px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.add input {
  padding: 0.3em 0.2em;
  max-width: min-content;
  outline: none;
}
button.submit {
  background-color: rgb(252, 4, 140);
  color: #ffffff;
  border: none;
  margin: 0.5em 0;
  border-radius: 0.3em;
  padding: 0.5em 0.7em;
  transition: background-color 0.3s ease-out;
}
button.submit:hover {
  background-color: rgb(200, 0, 110);
}
