div.todo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 0.3em;
  margin: 0.5em 0em;
  background-color: rgb(231, 222, 222);
  padding: 0.5em;
  min-width: 80%;
}
.task-name {
  padding: 0em 1em;
  font-weight: 500;
  color: rgb(3, 34, 160);
  word-wrap: break-word;
  max-width: 65%;
  max-height: fit-content;
  cursor: pointer;
  position: relative;
  transition: opacity 0.4s linear;
  transition: font-size 0.3s ease-out;
}
.task-name:hover {
  font-size: 16.5px;
}
.task-name.completed{
  opacity:0.6;
}
.task-name.completed:before {
  content: "";
  position: absolute;
  top:57%;
  left:0;
  display: block;
  width: 0%;
  height: 2px;
  background: rgb(75, 75, 75);
  animation: strikeitem 0.5s ease-out 0s forwards;
}
@keyframes strikeitem {
  to {
    width:calc(100% );
  }
}


span.button{

  min-width: 30%;
}
button.todo {
  cursor: pointer;
  background-color: rgb(202, 202, 202);
  border: none;
  border-radius: 0.4em;
  padding: 0.5em;
  margin: 0em 0.5em;
  transition: background-color 0.2s ease-out;
}
button.todo:hover {
  background-color: rgb(165, 164, 164);
}
